.idea/
bin
eggs
downloads
parts
develop-eggs
*.pyc
.installed.cfg
*.swp
local_variables.py
old-eggs
bower_components
modules
intermediate
publish
out
svn
build.properties
.sass-cache
.DS_Store
.boilerplate*
server.pid
server.port
.grunt-newer-cache
node_modules
.tmp
.npm-cache
frontend/bower/
log/
dist
frontend/bower-assets
run.wsgi
frontend/views/generated
frontend/css
tags
data/jporter
data/license_dir/*
!data/license_dir/custom
data/licenses-1.18
data/scanner_evaluation_files-1.0.0



